In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split#KNN
#to  classified the records of anyone categories
from sklearn.neighbors import KNeighborsClassifier
#import library for plotting
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix,accuracy_score

In [2]:
data_income = pd.read_csv("E:/data sets/income.csv")
data2 = data_income.copy()

In [3]:
#Logistic regression model -removing insignificant variables 
cols = ['gender','nativecountry','race','JobType']
data2.drop(cols,axis=1)

,age,EdType,maritalstatus,occupation,relationship,capitalgain,capitalloss,hoursperweek,SalStat
0,45,HS-grad,Divorced,Adm-clerical,Not-in-family,0,0,28,"less than or equal to 50,000"
1,24,HS-grad,Never-married,Armed-Forces,Own-child,0,0,40,"less than or equal to 50,000"
2,44,Some-college,Married-civ-spouse,Prof-specialty,Husband,0,0,40,"greater than 50,000"
3,27,9th,Never-married,Craft-repair,Other-relative,0,0,40,"less than or equal to 50,000"
4,20,Some-college,Never-married,Sales,Not-in-family,0,0,35,"less than or equal to 50,000"
...,...,...,...,...,...,...,...,...,...
31973,34,HS-grad,Never-married,Farming-fishing,Not-in-family,594,0,60,"less than or equal to 50,000"
31974,34,Some-college,Never-married,Protective-serv,Not-in-family,0,0,40,"less than or equal to 50,000"
31975,23,Some-college,Married-civ-spouse,Adm-clerical,Husband,0,0,40,"less than or equal to 50,000"
31976,42,Some-college,Married-civ-spouse,Adm-clerical,Wife,0,0,40,"less than or equal to 50,000"
31977,29,Bachelors,Never-married,Prof-specialty,Not-in-family,0,0,40,"less than or equal to 50,000"

In [4]:
data2['SalStat'] = data2['SalStat'].map({' less than or equal to 50,000':0,' greater than 50,000':1})
print(data2['SalStat'])

0        0
1        0
2        1
3        0
4        0
        ..
31973    0
31974    0
31975    0
31976    0
31977    0
Name: SalStat, Length: 31978, dtype: int64

In [6]:
new_data=pd.get_dummies(data2,drop_first=True)

In [7]:
#storing the column names
columns_list = list(new_data.columns)
print(columns_list)

['age', 'capitalgain', 'capitalloss', 'hoursperweek', 'SalStat', 'JobType_ Federal-gov', 'JobType_ Local-gov', 'JobType_ Never-worked', 'JobType_ Private', 'JobType_ Self-emp-inc', 'JobType_ Self-emp-not-inc', 'JobType_ State-gov', 'JobType_ Without-pay', 'EdType_ 11th', 'EdType_ 12th', 'EdType_ 1st-4th', 'EdType_ 5th-6th', 'EdType_ 7th-8th', 'EdType_ 9th', 'EdType_ Assoc-acdm', 'EdType_ Assoc-voc', 'EdType_ Bachelors', 'EdType_ Doctorate', 'EdType_ HS-grad', 'EdType_ Masters', 'EdType_ Preschool', 'EdType_ Prof-school', 'EdType_ Some-college', 'maritalstatus_ Married-AF-spouse', 'maritalstatus_ Married-civ-spouse', 'maritalstatus_ Married-spouse-absent', 'maritalstatus_ Never-married', 'maritalstatus_ Separated', 'maritalstatus_ Widowed', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'relationship_ Not-in-family', 'relationship_ Other-relative', 'relationship_ Own-child', 'relationship_ Unmarried', 'relationship_ Wife', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'gender_ Male', 'nativecountry_ Canada', 'nativecountry_ China', 'nativecountry_ Columbia', 'nativecountry_ Cuba', 'nativecountry_ Dominican-Republic', 'nativecountry_ Ecuador', 'nativecountry_ El-Salvador', 'nativecountry_ England', 'nativecountry_ France', 'nativecountry_ Germany', 'nativecountry_ Greece', 'nativecountry_ Guatemala', 'nativecountry_ Haiti', 'nativecountry_ Holand-Netherlands', 'nativecountry_ Honduras', 'nativecountry_ Hong', 'nativecountry_ Hungary', 'nativecountry_ India', 'nativecountry_ Iran', 'nativecountry_ Ireland', 'nativecountry_ Italy', 'nativecountry_ Jamaica', 'nativecountry_ Japan', 'nativecountry_ Laos', 'nativecountry_ Mexico', 'nativecountry_ Nicaragua', 'nativecountry_ Outlying-US(Guam-USVI-etc)', 'nativecountry_ Peru', 'nativecountry_ Philippines', 'nativecountry_ Poland', 'nativecountry_ Portugal', 'nativecountry_ Puerto-Rico', 'nativecountry_ Scotland', 'nativecountry_ South', 'nativecountry_ Taiwan', 'nativecountry_ Thailand', 'nativecountry_ Trinadad&Tobago', 'nativecountry_ United-States', 'nativecountry_ Vietnam', 'nativecountry_ Yugoslavia']

In [8]:
#seprating the input names from data
features = list(set(columns_list)-set(['SalStat']))
print(features)

['JobType_ Private', 'nativecountry_ Trinadad&Tobago', 'nativecountry_ Honduras', 'nativecountry_ Laos', 'EdType_ 7th-8th', 'race_ Other', 'nativecountry_ Holand-Netherlands', 'JobType_ Federal-gov', 'nativecountry_ Peru', 'race_ White', 'maritalstatus_ Married-AF-spouse', 'nativecountry_ Cuba', 'EdType_ Preschool', 'JobType_ Self-emp-inc', 'nativecountry_ Jamaica', 'nativecountry_ India', 'EdType_ Assoc-acdm', 'race_ Black', 'hoursperweek', 'maritalstatus_ Married-civ-spouse', 'occupation_ Machine-op-inspct', 'EdType_ Prof-school', 'occupation_ Tech-support', 'nativecountry_ Portugal', 'nativecountry_ Canada', 'occupation_ Adm-clerical', 'gender_ Male', 'nativecountry_ France', 'capitalgain', 'relationship_ Other-relative', 'nativecountry_ Vietnam', 'JobType_ Local-gov', 'nativecountry_ Thailand', 'nativecountry_ Italy', 'occupation_ Other-service', 'capitalloss', 'nativecountry_ China', 'nativecountry_ Guatemala', 'nativecountry_ Outlying-US(Guam-USVI-etc)', 'nativecountry_ Iran', 'occupation_ Armed-Forces', 'occupation_ Handlers-cleaners', 'relationship_ Own-child', 'occupation_ Protective-serv', 'nativecountry_ Mexico', 'occupation_ Priv-house-serv', 'occupation_ Transport-moving', 'nativecountry_ Germany', 'EdType_ Bachelors', 'occupation_ Craft-repair', 'nativecountry_ Nicaragua', 'nativecountry_ Columbia', 'nativecountry_ El-Salvador', 'nativecountry_ United-States', 'EdType_ 9th', 'nativecountry_ Ecuador', 'maritalstatus_ Widowed', 'EdType_ Masters', 'nativecountry_ Philippines', 'nativecountry_ Taiwan', 'maritalstatus_ Married-spouse-absent', 'nativecountry_ Ireland', 'EdType_ Doctorate', 'relationship_ Wife', 'EdType_ 11th', 'relationship_ Unmarried', 'maritalstatus_ Separated', 'JobType_ Without-pay', 'EdType_ Assoc-voc', 'occupation_ Prof-specialty', 'nativecountry_ Greece', 'relationship_ Not-in-family', 'EdType_ 1st-4th', 'EdType_ Some-college', 'occupation_ Sales', 'age', 'nativecountry_ Puerto-Rico', 'nativecountry_ Hong', 'occupation_ Exec-managerial', 'maritalstatus_ Never-married', 'occupation_ Farming-fishing', 'JobType_ Self-emp-not-inc', 'nativecountry_ England', 'JobType_ Never-worked', 'nativecountry_ Poland', 'nativecountry_ Dominican-Republic', 'JobType_ State-gov', 'nativecountry_ Japan', 'race_ Asian-Pac-Islander', 'nativecountry_ Yugoslavia', 'nativecountry_ Scotland', 'EdType_ HS-grad', 'EdType_ 5th-6th', 'nativecountry_ Haiti', 'nativecountry_ Hungary', 'EdType_ 12th', 'nativecountry_ South']

In [9]:
#storing the output values in y
y = new_data['SalStat'].values 
#dependent variables
print(y)

[0 0 1 ... 0 0 0]

In [10]:
#storing the input values from inout features
x = new_data[features].values #independent variables
print(x)

[[1 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [1 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]]

In [11]:
#splitting the data to train and test 
train_x,test_x,train_y,test_y = train_test_split(x, y,test_size=0.3,random_state=0)

In [12]:
#creating a instace of k nearer neighbors 
KNN_classifier = KNeighborsClassifier(n_neighbors=5)

In [13]:
#fitted the vlaues of x and y 
KNN_classifier.fit(train_x, train_y)

KNeighborsClassifier()

In [14]:
#predicting the test value with model
prediction = KNN_classifier.predict(test_x)

In [34]:
#perfornmace metrix check 
confusion_matrix=confusion_matrix(test_y, prediction)

In [35]:
#calculating the accuracy 
accuracy_score = accuracy_score(test_y,prediction)
print(accuracy_score)

0.8396914738378153

In [36]:
print('Misclassified samples: %d'%(test_y != prediction).sum())

Misclassified samples: 1538

In [ ]:
#effect of k values on classifier 
Misclassified_sample = []
#calculating error fro k values between 1 and 20
for i in range(1,20):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(train_x, train_y)
    pred_i = knn.predict(test_x)
    Misclassified_sample.append((test_y != pred_i).sum())
    
print(Misclassified_sample)